@model UserModel

<div>
    <p>Username: @Model.username</p>
    <p>Password: @Model.password</p>
    <p>First name: @Model.firstName</p>
    <p>Last name: @Model.lastName</p>
    <p>Phone number: @Model.phoneNumber</p>
    <p>Email: @Model.email</p>
</div>